<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Recipistic" />
    <meta property='og:image' content="<%= image_url('recipistic.png') %>"/>
    <meta property="og:description"
      content="A fullstack app that is a clone of the food blogging site, Epicurious."
    />
    <meta property="og:url"
     content="https://recipistic.herokuapp.com/#/"
    />

    <title>Recipistic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= favicon_link_tag asset_path('favicon.ico')%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
